
<%= render "shared/sidebar"%>
<section class="main_w_sidebar container-fluid m5">
  <%= render "shared/flash"%>

  <section class="order-summary__container">
    <h3 class="order-summary__header"> Order Details</h3>
    <h4> Order total: $ <%= '%.2f' % @order.order_cost%></h4>
    <table class="table">
      <thead class="thead-table">
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Item Total</th>
        <th>Status</th>
        <th>Client Name</th>
        <th>Shipping address</th>
      </tr>
    </thead>

      <tbody>
        <% @order.order_items.each do |item| %>
          <tr>
            <td><%= link_to item.product.name, product_path(item.product.id)  %></td>
            <td>$<%= '%.2f' % item.product.price %></td>
            <td><%= item.quantity%></td>
            <td>$<%='%.2f' % item.total_per_item %></td>
            <td><%= @order.status%></td>
            <td><%= @order.name%></td>
            <td><%= @order.address%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section>