
<section class="cart-summary__container container" >

  <h3 class="cart-summary__header">Shopping Cart</h3>
  <table id="cart" class="table table-hover table-condensed">
    <thead class="thead-table">
      <tr>
        <th style="width:20%"> Product</th>
        <th>Product Name</th>
        <th style="width:8%">Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th class="text-center">Remove item</th>

      </tr>
    </thead>
    <tbody>
    <% @order_products.each do |item| %>
      <% product = Product.find_by(id: item.product_id)%>
      <tr>
        <td data-th="Product">
          <% if item.product.image == nil || item.product.image == "" %>
            <p><%= image_tag "art.jpg", alt: "#{item.product.name}", class: "img-fluid product__image" %></p>
          <% else %>
            <p><%= image_tag item.product.image, class: "img-fluid product__image", alt: "#{item.product.name}" %></p>
          <% end %>
        </td>
          <td><%= link_to item.product.name, product_path(item.product.id)%></td>
          <td><%= form_with(url: order_item_path(item.id), method: :patch) do |f| %>
            <%= number_field(:order_item, :quantity, min: 1, value: item.quantity, onchange: "this.form.submit();", class: "form-control text-center")%>
          <% end %></td>
          <td>$<%= '%.2f' % item.product.price %></td>
          <td>$ <%= '%.2f' % item.total_per_item %></td>
          <td class="actions text-center" data-th="">	
           <%= link_to "", order_item_path(item.id), method: :delete, data: {confirm: "Are you sure you want to remove this item from your basket?"}, class: "fas fa-trash btn btn-danger"%>	
					</td>
      <tr>
    <% end %>
    </tbody>
    <tfoot>
        <td><%= link_to "Continue Shopping", products_path, class:"btn btn-warning" %></td>
          <td colspan="2" class="hidden-xs"></td>
          <td colspan="1" class="hidden-xs"></td>
          <td class="hidden-xs">$<%= '%.2f' % @order.order_cost %></td>
          <td><%= link_to "Place Order", edit_order_path(session[:order_id]), class:"btn btn-success btn-block" %></td>
      </tr>
		</tfoot>
  </table>
  <% # TODO: implement empty cart button %>
  <% # link_to "Empty cart", empty_cart_path(session[:order_id]), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>

</section>
