<h2 id="top"><%= link_to @merchant.username, merchant_path(@merchant) %></h2>

<p>Joined Momasy <%= @merchant.created_at.strftime("%B %d, %Y") %></p>

<section data-spy='scroll' style="padding-bottom: 20px;" class="sticky-top">
  <span style="float: right;"><%= link_to "Jump to top", href="#top", class: "btn btn-custom"%></span>
</section>

<section>

<% Product.where(merchant_id: @merchant.id).each do |product| %>
  <h3> <%=link_to product.name , product_path(product.id) %></h3>
  <p> Price: $ <%=product.price %></p>
  <p> Category: </p>
  <% if product.image == nil || product.image == ""  %>
    <p> <%= image_tag  "art.jpg" , alt:"pic"%></p>
  <% else %>
    <p> <%= image_tag  product.image ,class: "img-fluid img_max", alt:"pic"%></p>
  <% end  %>
<% end  %>
</section>