<h1 id="top" class="product__all__header">
  All Art <span class="product__count">(<%= Product.all.length %> products)</span>
</h1>

<section data-spy='scroll' class="sticky-top text-right p-2 products__sticky">
  <%= link_to "Jump to top", href="#top", class: "btn btn-custom"%></span>
</section>

<div class="product__grid">
  <% @products.where(active: true).each do |product| %>
    <div class="product text-center">

      <%= link_to product_path(product.id) do %>
        <% if product.image == nil || product.image == "" %>
          <p><%= image_tag "art.jpg", alt: "#{product.name}", class: "img-fluid product__image" %></p>
        <% else %>
          <p><%= image_tag product.image, class: "img-fluid product__image", alt: "#{product.name}" %></p>
        <% end %>
      <% end %>

      <h3 class="product__name product__link"><%= link_to product.name, product_path(product.id) %></h3>
      <h4 class="product__artist"><%= product.artist ? product.artist : "Unknown artist" %></h4>
      <p class="font-weight-bold"><span class="font-italic"><%= product.inventory %> in stock</span><br/>$<%= '%.2f' % product.price %></p>
    </div>
  <% end %>
</div>
