<h1>all products</h1>

  <% @products.each do |product| %>
  <div>
    <h3> <%=link_to product.name , product_path(product.id) %></h3>
    <p> Price:$ <%=product.price %></p>
    <p> Category:
 
        <% product.categories.each do |category| %>
          <%= category.name %>
        <% end  %>

    </p>

    <% if product.image == nil  %>
      <p> <%= image_tag  "art.jpg" , alt:"pic"%></p>
    <% else %>
      <p> <%= image_tag  product.image, alt:"pic"%></p>
   <% end  %>

  </div>
  <% end  %>

