
  
<%= render "shared/sidebar"%>
<section class="main_w_sidebar container-fluid m5">

  <%= render "shared/flash"%>

  <h1 id="top" class="product__all__header">
    All Art <span class="product__count">(<%= Product.where('inventory > ?', 0).length %> products)</span>
  </h1>

  <section data-spy='scroll' class="sticky-top text-right p-2 products__sticky">
    <%= link_to "Jump to top", href="#top", class: "btn btn-custom"%></span>
  </section>

  <div class="product__grid">
    <% @products.where('inventory > ?', 0).where(active: true).each do |product| %>
      <%= render partial: "./shared/product", locals: {product: product} %>
    <% end %>
  </div>

</section>