<!DOCTYPE html>
<html>
  <head>
    <title>Momasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body class="grid">
    
    <%#HEADER%>
    <header class="app-header__header">
      <h1>
        <%=link_to "Momasy", root_path, :class => "app-header__title"%>
      </h1>
      
      <% if session[:order_id]%>
        <i class="fas fa-shopping-cart fa-2x" class="nav-item app-header__nav_item"><%=link_to "Cart", order_path(session[:order_id])%></i>
      <%else%>
        <i class="fas fa-shopping-cart fa-2x" class="nav-item app-header__nav_item"><%=link_to "Cart", orders_path%></i>
      <%end%>

      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">  
          <li class="nav-item app-header__nav_item"><%=link_to "View All Art", products_path%></li>
          <li class="nav-item app-header__nav_item">|</li>
          <li class="nav-item app-header__nav_item"><%=link_to "View All Merchants", merchants_path%></li> 
        </ul>

        <ul class="nav app-header__user-nav-container">
        
          <% if session[:merchant_id]%>
            <li class="nav-item app-header__nav_item"><%=button_to "#{Merchant.find(session[:merchant_id]).username}'s Dashboard", current_merchant_path, method: :get, class: "btn btn-custom"%></li>
            <li class="nav-item app-header__nav_item"><%=button_to "Logout", logout_path, method: :delete, class: "btn btn-custom"%></li>
          <%else%>
            </li class="nav-item app-header__nav_item"><%=button_to "Merchant Login", github_login_path, method: :get, class: "btn btn-custom"%></li>
          <%end%>
        </ul>
      </nav>
    </header>

      

    <section class="sidebar">
      <div class="btn-group pull-right right-nav">
        <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
          <span class="carat"></span>
          <span clas="sr-only">Browse by Merchant</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @merchants = Merchant.all %>
          <% @merchants.each do |merchant|%>
            <li><%=link_to "#{merchant.username}", merchant_path(merchant)%></li>
          <%end%>
        <ul>
      </div>
    
      <div class="btn-group pull-right right-nav"> 
        <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
          <span class="carat"></span>
          <span clas="sr-only">Browse by Category</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% @categories = Category.all%>
          <% @categories.each do |category|%>
            <li><%=link_to "#{category.name}", category_path(category.id)%></li>
          <%end%>
        <ul>
      </div>
    </section>
    

    <section class="main container-fluid m5">
      <section class="flash">
        <%flash.each do |name, message|%>
          <div class="<%name%>">
            <%=message%>
          </div>
        <%end%>
      </section>

      <%= yield %>
      
    </section>


    <footer class="app-footer__footer fixed-bottom">
      About Momasy
    </footer> 

  </body>

</html>

